################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EShopping.AppHost/bin/Debug/net8.0
/EShopping.ServiceDefaults/bin/Debug/net8.0
/EShopping.ServiceDefaults/obj
/.vs
/EShopping.AppHost/obj
/obj/Docker
/Services/Basket/Basket.API/bin/Debug/net8.0
/Services/Basket/Basket.API/obj
/Services/Basket/Basket.Application/bin/Debug/net8.0
/Services/Basket/Basket.Application/obj
/Services/Basket/Basket.Core/bin/Debug/net8.0
/Services/Basket/Basket.Core/obj
/Services/Basket/Basket.Infrastructure/bin/Debug/net8.0
/Services/Basket/Basket.Infrastructure/obj
/Services/Catalog/Catalog.API/bin/Debug
/Services/Catalog/Catalog.API/obj
/Services/Catalog/Catalog.Application/bin/Debug
/Services/Catalog/Catalog.Application/obj
/Services/Catalog/Catalog.Core/bin/Debug
/Services/Catalog/Catalog.Core/obj
/Services/Catalog/Catalog.Infrastructure/bin/Debug
/Services/Catalog/Catalog.Infrastructure/obj
/Services/Discount/Discount.API/bin/Debug/net8.0
/Services/Discount/Discount.API/obj
/Services/Discount/Discount.Application/bin/Debug/net8.0
/Services/Discount/Discount.Application/obj
/Services/Discount/Discount.Core/bin/Debug/net8.0
/Services/Discount/Discount.Core/obj
/Services/Discount/Discount.Infrastructure/bin/Debug/net8.0
/Services/Discount/Discount.Infrastructure/obj
/Services/Order/Order.Api/bin/Debug/net8.0
/Services/Order/Order.Api/obj
/Services/Order/Order.Application/bin/Debug/net8.0
/Services/Order/Order.Application/obj
/Services/Order/Order.Core/obj
/Services/Order/Order.Infrastructure/bin/Debug/net8.0
/Services/Order/Order.Infrastructure/obj
/Services/Order/WebApplication1/obj
/tests/Catalog.Api.IntegrationTests/bin/Debug
/tests/Catalog.Api.IntegrationTests/obj
/Services/Order/Order.Core/bin/Debug/net8.0
